{% extends 'base.html.twig' %}
{% block title %}Quotes{% endblock %}

{% block body %}
<div class="card-columns">
    {% for quote in quotes %}
        <div class="card">
            <div class="card-block">
                <a href="/app/show/{{ quote.id }}">
                    <blockquote class="card-blockquote">{{ quote.content }}</blockquote>
                </a>
                <p class="card-text"><small> - {{ quote.quoter }}</small></p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}