{% extends 'base.html.twig' %}
{% block title %}Show Me{% endblock %}

{% block body %}
        {{ quote.content }}
        {{ quote.quoter }}

        {% if sameUser %}
            <a href="/app/update/{{ quote.id }}">Update</a>
            <a href="/app/delete/{{ quote.id }}">Delete</a>
        {% endif %}
{% endblock %}

