{% extends 'base.html.twig' %}
{% block title %}Update Quote{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update Quote</button>
    {{ form_end(form) }}
{% endblock %}

