{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Search or create any quote you want!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="{{ path('app_register') }}" method="GET">
            <div class="form-row">
              <div class="col-12 col-md-5 mb-2 mb-md-0">
                <!-- <input type="email" class="form-control form-control-lg" placeholder="Enter your email..."> -->
              </div>
              
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">
                    Sign Up Now!
                </button>
              </div>
                {% else %}
                {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">Whether mobile or desktop, as long your browser is working fine then Quartza will too!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Found a new inspiring quote?</h3>
            <p class="lead mb-0">Sign in, and <em>create your magic!</em></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Simplicity and ease of use are Quartza's priorities!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
